header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6%;
  ul {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    li {
      list-style: none;
      a {
        color: $White;
        text-decoration: none;
        font-family: $headings;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 999px) {
  header {
    padding: 5%;
    ul {
      width: 40%;
    }
  }
}

@media screen and (max-width: 550px) {
  header {
    padding: 4%;
    img {
      width: 150px;
    }
    ul {
      width: 50%;
    }
  }
}

@media screen and (max-width: 450px) {
  header {
    img {
      width: 100px;
    }
    ul {
      width: 60%;
      li {
        a {
          font-size: 14px;
        }
      }
    }
  }
}






