.hero {
  text-align: center;
  color: $White;
  background-image: url('../images/bg-curvy-desktop.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding-bottom: 14%;
    img {
      width: 55%;
    }
    h1 {
      padding: 1.38vw 19.8vw;
      font-family: $headings;
      font-size: 3vw;
      margin-bottom: 0;
    }
    p {
      margin-top: 10px;
      padding: 0 27.7vw;
      font-size: 1.4vw;
      line-height: 1.6;
    }
    button {
      margin-top: 15px;
      @include call-to-action;
      border: none;
      border-radius: 25px;
      padding: 16px 100px;
      color: $White;
      font-weight: 700;
    }
}

@media screen and (max-width: 900px) {
  .hero {
    img {
      width: 70%;
    }
    h1 {
      padding: 1.38vw 10vw;
      font-size: 4vw;
    }
    p {
      padding: 0 16vw;
      font-size: 2.2vw;
      line-height: 1.6;
    }
  }
}

@media screen and (max-width: 550px) {
  .hero {
    img {
      width: 80%;
    }
    h1 {
      padding: 1.5vw 5vw;
      font-size: 5vw;
    }
    p {
      padding: 0 8vw;
      font-size: 2.6vw;
    }
  }
}

@media screen and (max-width: 400px) {
  .hero {
    background-image: url('../images/bg-curvy-mobile.svg');
    img {
      width: 80%;
    }
    h1 {
      font-size: 6vw;
    }
    p {
      padding: 0 8vw;
      font-size: 3.8vw;
    }
  }
}