.testimonials {
  background-color: $Dark-Blue-main;
  padding: 60px 5vw;
  .quotes {
    margin-left: 1.25vw;
  }
  .boxes {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 200px;
    padding: 0 2vw;
    .box {
      width: 25vw;
      max-width: 380px;
      box-sizing: border-box;
      border-radius: 5px;
      background-color: $Dark-Blue-testimonials;
      color: $White;
      padding: 1.38vw 1.6vw 1.6vw 2.45vw;
      box-shadow: 10px 10px 5px 0px rgba(28, 36, 49, 0.5);
      p {
        font-size: 1vw;
        line-height: 1.6;
      }
      .user {
        margin-top: 25px;
        display: flex;
        align-items: center;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        .user-info {
          margin-left: 10px;
          h3 {
            font-size: 13px;
            margin: 0;
          }
          p {
            font-size: 9px;
            margin: 0;
          }
        }
      }
    }
  }

  .early-access {
    position: relative;
    z-index: 1;
    width: 840px;
    box-sizing: border-box;
    margin: auto;
    border-radius: 5px;
    padding: 24px 60px;
    text-align: center;
    background-color: $Dark-Blue-intro-email;
    color: $White;
    box-shadow: 10px 10px 5px 0px rgba(11, 21, 35, 0.5);
    h2 {
      font-family: $headings;
      font-size: 32px;
    }
    p {
      font-size: 14px;
      padding: 0 5%;
      line-height: 1.6;
    }
    .form {
      margin: 35px 0 15px;
      input {
        padding: 16px 36% 16px 6%;
        border-radius: 25px;
        outline: none;
        border: none;
      }
      input::placeholder {
        opacity: 0.5;
      }
      .get-started {
        @include call-to-action;
        border: none;
        border-radius: 25px;
        padding: 16px 35px;
        color: $White;
        margin-left: 15px;
        cursor: pointer;
        outline: none;
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .testimonials {
    padding: 60px 2.5vw;
    .quotes {
      margin-left: 1.25vw;
    }
    .boxes {
      .box {
        width: 28vw;
        p {
          font-size: 1.2vw;
        }
      }
    }
  
    .early-access {
      width: 700px;
      padding: 20px 50px;
      h2 {
        font-size: 30px;
      }
      .form {
        margin: 35px 0 12px;
        input {
          padding: 16px 30% 16px 5%;
        }
        .get-started {
          padding: 16px 30px;
        }
      }
    }
  }
  
}

@media screen and (max-width: 900px) {
  .testimonials {
    padding: 60px 2.5vw;
    .quotes {
      margin-left: 8vw;
    }
    .boxes {
      flex-direction: column;
      margin-bottom: 150px;
      .box {
        margin: 20px auto;
        width: 60vw;
        p {
          font-size: 2vw;
        }
      }
    }

    .early-access {
      width: 550px;
      padding: 20px 30px;
      h2 {
        font-size: 30px;
      }
      .form {
        display: flex;
        flex-direction: column;
        margin: 35px 0 15px;
        input {
          margin: 20px 0;
          padding: 16px 30% 16px 5%;
        }
        .get-started {
          padding: 16px 30px;
          margin: 0;
        }
      }
    }
  } 
}

@media screen and (max-width: 600px) {
  .testimonials {
    padding: 60px 2.5vw;
    .quotes {
      margin-left: 8vw;
    }
    .boxes {
      margin-bottom: 100px;
      .box {
        width: 80vw;
        p {
          font-size: 3.3vw;
        }
      }
    }

    .early-access {
      width: 340px;
      padding: 20px 10px;
      h2 {
        font-size: 30px;
      }
      .form {
        margin: 15px 0 15px;
      }
    }
  } 
}