header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6%;
}

header ul {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header ul li {
  list-style: none;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

header ul li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 999px) {
  header {
    padding: 5%;
  }
  header ul {
    width: 40%;
  }
}

@media screen and (max-width: 550px) {
  header {
    padding: 4%;
  }
  header img {
    width: 150px;
  }
  header ul {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  header img {
    width: 100px;
  }
  header ul {
    width: 60%;
  }
  header ul li a {
    font-size: 14px;
  }
}

.hero {
  text-align: center;
  color: white;
  background-image: url("../images/bg-curvy-desktop.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding-bottom: 14%;
}

.hero img {
  width: 55%;
}

.hero h1 {
  padding: 1.38vw 19.8vw;
  font-family: "Raleway", sans-serif;
  font-size: 3vw;
  margin-bottom: 0;
}

.hero p {
  margin-top: 10px;
  padding: 0 27.7vw;
  font-size: 1.4vw;
  line-height: 1.6;
}

.hero button {
  margin-top: 15px;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(90deg, #65e2d9, #339ecc);
  border: none;
  border-radius: 25px;
  padding: 16px 100px;
  color: white;
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .hero img {
    width: 70%;
  }
  .hero h1 {
    padding: 1.38vw 10vw;
    font-size: 4vw;
  }
  .hero p {
    padding: 0 16vw;
    font-size: 2.2vw;
    line-height: 1.6;
  }
}

@media screen and (max-width: 550px) {
  .hero img {
    width: 80%;
  }
  .hero h1 {
    padding: 1.5vw 5vw;
    font-size: 5vw;
  }
  .hero p {
    padding: 0 8vw;
    font-size: 2.6vw;
  }
}

@media screen and (max-width: 400px) {
  .hero {
    background-image: url("../images/bg-curvy-mobile.svg");
  }
  .hero img {
    width: 80%;
  }
  .hero h1 {
    font-size: 6vw;
  }
  .hero p {
    padding: 0 8vw;
    font-size: 3.8vw;
  }
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "access security" "collaboration store";
  background-color: #181f2a;
  padding: 0 14vw;
}

.cards div {
  width: 27.7vw;
  text-align: center;
  color: white;
  margin: 20px auto 70px;
}

.cards div h2 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.cards div p {
  font-size: 15px;
}

.cards .access {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: access;
}

.cards .security {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: security;
}

.cards .collaboration {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: collaboration;
}

.cards .store {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: store;
}

@media screen and (max-width: 900px) {
  .cards {
    padding: 0 5vw;
  }
  .cards div {
    width: 36vw;
  }
}

@media screen and (max-width: 550px) {
  .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "access"  "security" "collaboration"  "store";
    padding: 0 5vw;
  }
  .cards div {
    width: 85vw;
    margin: 40px auto 40px;
  }
  .cards div h2 {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }
  .cards div p {
    font-size: 15px;
  }
  .cards .access {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: access;
  }
  .cards .security {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: security;
  }
  .cards .collaboration {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: collaboration;
  }
  .cards .store {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: store;
  }
}

.productive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #181f2a;
  padding: 30px 5.5vw;
}

.productive img {
  width: 50vw;
}

.productive .details {
  width: 50vw;
  color: white;
  padding: 0 3vw;
}

.productive .details h2 {
  font-size: 2.7vw;
  padding-right: 5vw;
  font-family: "Raleway", sans-serif;
}

.productive .details p {
  line-height: 1.6;
}

.productive .details a {
  border-bottom: 1px solid #65e2d9;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #65e2d9;
  text-decoration: none;
}

.productive .details a img {
  width: 16px;
  height: 16px;
  padding: 0 0 0 6px;
}

@media screen and (max-width: 1024px) {
  .productive {
    padding: 30px 2vw;
  }
}

@media screen and (max-width: 900px) {
  .productive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 6vw;
  }
  .productive img {
    width: 80vw;
  }
  .productive .details {
    width: 80vw;
    padding: 30px 3vw;
  }
}

@media screen and (max-width: 600px) {
  .productive {
    padding: 30px 3vw;
  }
  .productive .details {
    padding: 30px 0;
  }
  .productive .details h2 {
    font-size: 4.7vw;
    padding: 0;
  }
  .productive .details p {
    font-size: 13px;
  }
  .productive .details a {
    font-size: 14px;
  }
}

.testimonials {
  background-color: #181f2a;
  padding: 60px 5vw;
}

.testimonials .quotes {
  margin-left: 1.25vw;
}

.testimonials .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 200px;
  padding: 0 2vw;
}

.testimonials .boxes .box {
  width: 25vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background-color: #202a3c;
  color: white;
  padding: 1.38vw 1.6vw 1.6vw 2.45vw;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(28, 36, 49, 0.5);
          box-shadow: 10px 10px 5px 0px rgba(28, 36, 49, 0.5);
}

.testimonials .boxes .box p {
  font-size: 1vw;
  line-height: 1.6;
}

.testimonials .boxes .box .user {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .boxes .box .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.testimonials .boxes .box .user .user-info {
  margin-left: 10px;
}

.testimonials .boxes .box .user .user-info h3 {
  font-size: 13px;
  margin: 0;
}

.testimonials .boxes .box .user .user-info p {
  font-size: 9px;
  margin: 0;
}

.testimonials .early-access {
  position: relative;
  z-index: 1;
  width: 840px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  border-radius: 5px;
  padding: 24px 60px;
  text-align: center;
  background-color: #1c2431;
  color: white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(11, 21, 35, 0.5);
          box-shadow: 10px 10px 5px 0px rgba(11, 21, 35, 0.5);
}

.testimonials .early-access h2 {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
}

.testimonials .early-access p {
  font-size: 14px;
  padding: 0 5%;
  line-height: 1.6;
}

.testimonials .early-access .form {
  margin: 35px 0 15px;
}

.testimonials .early-access .form input {
  padding: 16px 36% 16px 6%;
  border-radius: 25px;
  outline: none;
  border: none;
}

.testimonials .early-access .form input::-webkit-input-placeholder {
  opacity: 0.5;
}

.testimonials .early-access .form input:-ms-input-placeholder {
  opacity: 0.5;
}

.testimonials .early-access .form input::-ms-input-placeholder {
  opacity: 0.5;
}

.testimonials .early-access .form input::placeholder {
  opacity: 0.5;
}

.testimonials .early-access .form .get-started {
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(90deg, #65e2d9, #339ecc);
  border: none;
  border-radius: 25px;
  padding: 16px 35px;
  color: white;
  margin-left: 15px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .testimonials {
    padding: 60px 2.5vw;
  }
  .testimonials .quotes {
    margin-left: 1.25vw;
  }
  .testimonials .boxes .box {
    width: 28vw;
  }
  .testimonials .boxes .box p {
    font-size: 1.2vw;
  }
  .testimonials .early-access {
    width: 700px;
    padding: 20px 50px;
  }
  .testimonials .early-access h2 {
    font-size: 30px;
  }
  .testimonials .early-access .form {
    margin: 35px 0 12px;
  }
  .testimonials .early-access .form input {
    padding: 16px 30% 16px 5%;
  }
  .testimonials .early-access .form .get-started {
    padding: 16px 30px;
  }
}

@media screen and (max-width: 900px) {
  .testimonials {
    padding: 60px 2.5vw;
  }
  .testimonials .quotes {
    margin-left: 8vw;
  }
  .testimonials .boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 150px;
  }
  .testimonials .boxes .box {
    margin: 20px auto;
    width: 60vw;
  }
  .testimonials .boxes .box p {
    font-size: 2vw;
  }
  .testimonials .early-access {
    width: 550px;
    padding: 20px 30px;
  }
  .testimonials .early-access h2 {
    font-size: 30px;
  }
  .testimonials .early-access .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 35px 0 15px;
  }
  .testimonials .early-access .form input {
    margin: 20px 0;
    padding: 16px 30% 16px 5%;
  }
  .testimonials .early-access .form .get-started {
    padding: 16px 30px;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .testimonials {
    padding: 60px 2.5vw;
  }
  .testimonials .quotes {
    margin-left: 8vw;
  }
  .testimonials .boxes {
    margin-bottom: 100px;
  }
  .testimonials .boxes .box {
    width: 80vw;
  }
  .testimonials .boxes .box p {
    font-size: 3.3vw;
  }
  .testimonials .early-access {
    width: 340px;
    padding: 20px 10px;
  }
  .testimonials .early-access h2 {
    font-size: 30px;
  }
  .testimonials .early-access .form {
    margin: 15px 0 15px;
  }
}

footer {
  background-color: #0b1523;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 59vw 11.8vw 11.8vw 12vw;
      grid-template-columns: 59vw 11.8vw 11.8vw 12vw;
  color: white;
  padding-top: 200px;
  margin-top: -180px;
  position: relative;
  z-index: 0;
}

footer .info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 8.3vw;
  padding-right: 7vw;
  margin-bottom: 120px;
}

footer .info .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .info .info-container .location {
  margin-top: 30px;
  width: 27.7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .info .info-container .location img {
  margin-top: 5px;
}

footer .info .info-container .location p {
  margin: 0 20px;
  line-height: 1.6;
}

footer .info .info-container .contact {
  margin-top: 15px;
}

footer .info .info-container .contact .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .info .info-container .contact .phone p {
  margin-left: 20px;
  font-size: 14px;
}

footer .info .info-container .contact .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .info .info-container .contact .email p {
  margin-left: 20px;
  font-size: 14px;
}

footer .list {
  margin-top: 70px;
}

footer .list ul {
  padding: 0;
}

footer .list ul li {
  list-style: none;
  margin-bottom: 16px;
}

footer .list ul li a {
  color: white;
  text-decoration: none;
}

footer .social .social-icons {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .social .social-icons img {
  width: 36px;
  height: 36px;
}

.attribution {
  text-align: end;
  font-size: 11px;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 1024px) {
  footer .info {
    padding-left: 6vw;
    padding-right: 5vw;
  }
}

@media screen and (max-width: 900px) {
  footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-top: 200px;
    margin-top: -180px;
    position: relative;
    z-index: 0;
  }
  footer .info {
    margin-left: 20vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 0;
    padding-right: 7vw;
    margin-bottom: 50px;
  }
  footer .info .info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .info .info-container .location {
    margin-top: 30px;
    width: 50vw;
  }
  footer .list {
    margin-left: 20vw;
    margin-top: 0px;
  }
  footer .social .social-icons {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .social .social-icons img {
    margin: 0 15px;
    width: 36px;
    height: 36px;
  }
  .attribution {
    margin-top: 25px;
    text-align: center;
    font-size: 11px;
  }
  .attribution a {
    color: #3e52a3;
  }
}

@media screen and (max-width: 600px) {
  footer .info {
    margin-left: 5vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 0;
    padding-right: 0vw;
    margin-bottom: 50px;
  }
  footer .info .info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .info .info-container .location {
    margin-top: 30px;
    width: 90vw;
  }
  footer .list {
    margin-left: 5vw;
    margin-top: 0px;
  }
  footer .social .social-icons {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .social .social-icons img {
    margin: 0 15px;
    width: 36px;
    height: 36px;
  }
  .attribution {
    margin-top: 25px;
    text-align: center;
    font-size: 11px;
  }
  .attribution a {
    color: #3e52a3;
  }
}

body {
  max-width: 1440px;
  background-color: #1c2431;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}
/*# sourceMappingURL=styles.css.map */