@import '_variables';
@import '_header';
@import '_hero';
@import '_cards';
@import '_productive';
@import '_testimonials';
@import '_footer';

body {
  max-width: 1440px;
  background-color: $Dark-Blue-intro-email;
  font-family: $text;
  margin: 0 auto;
}

